:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

* {
  font-family: 'Outfit', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-gray);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 320px;
  border-radius: 20px;
  padding: 15px;
}

.card-img {
  border-radius: 10px;
  width: 100%;
}

.card-content {
  width: 260px;
}

.card-title {
  text-align: center;
  font-size: 22px;
  color: var(--dark-blue);
  margin-top: 17px;
  margin-bottom: 15px;
}

.card-text {
  text-align: center;
  font-size: 15px;
  color: var(--grayish-blue);
  margin-bottom: 15px;
}
